<html>

<head>
  <!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>

<body>
    <div class="container">

        <div class="row">

            <h2> ¿Me dejás bajar tweets a tu nombre? </h2>
            <p>
                Dándole permiso a esta aplicación nos estás ayudando a recolectar datos de Twitter, que usaremos para analizar temas sociolingüísticos en dicha red social (principalmente, análisis de lenguaje discriminatorio).
            </p>

            <p>
             Con esto, sólo nos dan acceso a que podamos bajar tweets a su nombre. Nada más que eso. No vamos a poder leer sus mensajes privados, rastrear ninguna información extra ni nada. Esto lo pedimos ya que poder acceder de otra manera es prohibitivamente caro . Pueden remover el permiso a esta aplicación en cualquier momento, pueden ver cómo hacerlo <a href="https://help.twitter.com/en/managing-your-account/connect-or-revoke-access-to-third-party-apps"> en este link </a>
            </p>

            <a class="button button-primary" href="/sessions/connect" style="left: 50%">Hacé click</a>
        </div>
    </div>

</body>
</html>
